﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()
       
              <p>&nbsp; &nbsp; Hello @User.Identity.GetUserName()! &nbsp; &nbsp; &nbsp; <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></p>
    }
}
else
{
               <p>@Html.ActionLink("Site Maintenance", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>

}