@model TheCodingVine.UI.ViewModels.PostVM
@{
    ViewBag.Title = "Delete Static Post";
}

<br />
<h3 class="text-center">Delete Static Post Confirmation</h3>

<div class="row">
    <div class="container-fluid col-lg-10 col-md-10 col-sm-10 table-bordered">
        <br />
        @using (Html.BeginForm())
        {
        <div class="row">
            <div class="col-md-8">
                @Html.HiddenFor(m => m.Post.StaticPostId)
                <h3>@Html.DisplayFor(m => m.Post.Title)</h3>
                <p>Are you sure that you want to delete this post? </p>
            </div>
            <div class="col-md-2">
                <h3 class="text-center"><button type="submit" class="btn btn-outline-warning">Delete</button></h3>
            </div>
            <div class="col-md-2">
                <h3 class="text-center">@Html.ActionLink("Cancel", "ViewStaticPosts", "StaticPost", null, new { @class = "btn btn-outline-info" })</h3>
            </div>
        </div>
        }
    </div>
</div>
